{{ template "global/base" .}}

<body>
    <style>
        .redBG {
            background-color: wheat;
            display: flex;
            flex-wrap: wrap;
            align-items: center;
            justify-content: start;
            padding: 10px;
            margin-bottom: 10px;
            border-radius: 5px;
            margin-left: 20px;

        }
        .subHead {
            margin-left: 20px;
        }
        .orgLocation {
            font-weight: bold;
            color: darkblue;
            margin-bottom: 10px;
        }
        .seo {
            font-size: 8px;
        }
    </style>
    {{ template "global/navbar" .}}

    <div class="container">
        <h1>
            {{ .Title }}
        </h1>

        <ul type="1">
            {{range .Options}}
                <div class="orgLocation">
                    {{.OrgLocation}}
                </div>
                {{with .Editionlocation}}
                    {{range .}}
                        <div class="redBG">
                            {{.EditionLocation}}
                            {{range .Edition}}
                            <div class="subHead">
                                <a href="/ePaper/{{.EditionID}}">{{.EditionName}}</a>
                            </div>
                            {{end}}
                        </div>
                    {{end}}
                {{end}}
            {{end}}
        </ul>
    </div>
    <div class="seo">

        **दिल्ली-एनसीआर**

        * दिल्ली-एनसीआर में सर्वश्रेष्ठ समाचार पत्र: हिंदुस्तान
        * दिल्ली-एनसीआर में नवीनतम समाचारों के लिए हिंदुस्तान
        * दिल्ली-एनसीआर में विश्वसनीय समाचार के लिए हिंदुस्तान
        * दिल्ली-एनसीआर में व्यापक समाचार कवरेज के लिए हिंदुस्तान
        * दिल्ली-एनसीआर में ई-पेपर के लिए हिंदुस्तान
        
        **उत्तर प्रदेश**
        
        * उत्तर प्रदेश में सर्वश्रेष्ठ समाचार पत्र: हिंदुस्तान
        * उत्तर प्रदेश में नवीनतम समाचारों के लिए हिंदुस्तान
        * उत्तर प्रदेश में विश्वसनीय समाचार के लिए हिंदुस्तान
        * उत्तर प्रदेश में व्यापक समाचार कवरेज के लिए हिंदुस्तान
        * उत्तर प्रदेश में ई-पेपर के लिए हिंदुस्तान
        
        **बिहार**
        
        * बिहार में सर्वश्रेष्ठ समाचार पत्र: हिंदुस्तान
        * बिहार में नवीनतम समाचारों के लिए हिंदुस्तान
        * बिहार में विश्वसनीय समाचार के लिए हिंदुस्तान
        * बिहार में व्यापक समाचार कवरेज के लिए हिंदुस्तान
        * बिहार में ई-पेपर के लिए हिंदुस्तान
        
        **झारखंड**
        
        * झारखंड में सर्वश्रेष्ठ समाचार पत्र: हिंदुस्तान
        * झारखंड में नवीनतम समाचारों के लिए हिंदुस्तान
        * झारखंड में विश्वसनीय समाचार के लिए हिंदुस्तान
        * झारखंड में व्यापक समाचार कवरेज के लिए हिंदुस्तान
        * झारखंड में ई-पेपर के लिए हिंदुस्तान
        
        **उत्तराखंड**
        
        * उत्तराखंड में सर्वश्रेष्ठ समाचार पत्र: हिंदुस्तान
        * उत्तराखंड में नवीनतम समाचारों के लिए हिंदुस्तान
        * उत्तराखंड में विश्वसनीय समाचार के लिए हिंदुस्तान
        * उत्तराखंड में व्यापक समाचार कवरेज के लिए हिंदुस्तान
        * उत्तराखंड में ई-पेपर के लिए हिंदुस्तान
        
        **पत्रिकाएँ**
        
        * परिशिष्टऔरअनोखी
        * फुर्सत
        * हिंदुस्तान-जॉब्स
        
        
        **दिल्ली-एनसीआर**
        
        * दिल्ली-एनसीआर में हिंदुस्तान ई-पेपर के साथ जुड़ें, और हर खबर की ख़बर रखें।
        * दिल्ली-एनसीआर की हर छोटी-बड़ी ख़बर से रहना चाहते हैं वाक़िफ़, तो हिंदुस्तान ई-पेपर को आज ही करें सब्सक्राइब।
        * हिंदुस्तान ई-पेपर के साथ पाएँ दिल्ली-एनसीआर की हर ख़बर का सटीक विश्लेषण, और करें खुद को अपडेट।
        * दिल्ली-एनसीआर की ख़बरों के लिए हिंदुस्तान ई-पेपर है आपका सबसे विश्वसनीय साथी।
        * हिंदुस्तान ई-पेपर के साथ पाएँ दिल्ली-एनसीआर की हर ख़बर की गहराई से जानकारी, और बढ़ाएँ अपना ज्ञान।
        
        **उत्तर प्रदेश**
        
        * उत्तर प्रदेश में हिंदुस्तान ई-पेपर के साथ जुड़ें, और हर खबर की ख़बर रखें।
        * उत्तर प्रदेश की हर छोटी-बड़ी ख़बर से रहना चाहते हैं वाक़िफ़, तो हिंदुस्तान ई-पेपर को आज ही करें सब्सक्राइब।
        * हिंदुस्तान ई-पेपर के साथ पाएँ उत्तर प्रदेश की हर ख़बर का सटीक विश्लेषण, और करें खुद को अपडेट।
        * उत्तर प्रदेश की ख़बरों के लिए हिंदुस्तान ई-पेपर है आपका सबसे विश्वसनीय साथी।
        * हिंदुस्तान ई-पेपर के साथ पाएँ उत्तर प्रदेश की हर ख़बर की गहराई से जानकारी, और बढ़ाएँ अपना ज्ञान।
        
        **बिहार**
        
        * बिहार में हिंदुस्तान ई-पेपर के साथ जुड़ें, और हर खबर की ख़बर रखें।
        * बिहार की हर छोटी-बड़ी ख़बर से रहना चाहते हैं वाक़िफ़, तो हिंदुस्तान ई-पेपर को आज ही करें सब्सक्राइब।
        * हिंदुस्तान ई-पेपर के साथ पाएँ बिहार की हर ख़बर का सटीक विश्लेषण, और करें खुद को अपडेट।
        * बिहार की ख़बरों के लिए हिंदुस्तान ई-पेपर है आपका सबसे विश्वसनीय साथी।
        * हिंदुस्तान ई-पेपर के साथ पाएँ बिहार की हर ख़बर की गहराई से जानकारी, और बढ़ाएँ अपना ज्ञान।
        
        **झारखंड**
        
        * झारखंड में हिंदुस्तान ई-पेपर के साथ जुड़ें, और हर खबर की ख़बर रखें।
        * झारखंड की हर छोटी-बड़ी ख़बर से रहना चाहते हैं वाक़िफ़, तो हिंदुस्तान ई-पेपर को आज ही करें सब्सक्राइब।
        * हिंदुस्तान ई-पेपर के साथ पाएँ झारखंड की हर ख़बर का सटीक विश्लेषण, और करें खुद को अपडेट।
        * झारखंड की ख़बरों के लिए हिंदुस्तान ई-पेपर है आपका सबसे विश्वसनीय साथी।
        * हिंदुस्तान ई-पेपर के साथ पाएँ झारखंड की हर ख़बर की गहराई से जानकारी, और बढ़ाएँ अपना ज्ञान।
        
        **उत्तराखंड**
        
        * उत्तराखंड में हिंदुस्तान ई-पेपर के साथ जुड़ें, और हर खबर की ख़बर रखें।
        * उत्तराखंड की हर छोटी-बड़ी ख़बर से रहना चाहते हैं वाक़िफ़, तो हिंदुस्तान ई-पेपर को आज ही करें सब्सक्राइब।
        * हिंदुस्तान ई-पेपर के साथ पाएँ उत्तराखंड की हर ख़बर का सटीक विश्लेषण, और करें खुद को अपडेट।
        * उत्तराखंड की ख़बरों के लिए हिंदुस्तान ई-पेपर है आपका सबसे विश्वसनीय साथी।
        * हिंदुस्तान ई-पेपर के साथ पाएँ उत्तराखंड की हर ख़बर की गहराई से जानकारी, और बढ़ाएँ अपना ज्ञान।
        
        **पत्रिकाएँ**
        
        * परिशिष्ट, अनोखी और फुर्सत पत्रिकाओं के साथ हिंदुस्तान ई-पेपर के साथ जुड़ें, और अपनी पसंदीदा पत्रिकाओं को ऑनलाइन पढ़ें।
        * हिंदुस्तान ई-पेपर के साथ पाएँ परिशिष्ट, अनोखी और फुर्सत पत्रिकाओं का डिजिटल संस्करण, और आनंद लें नए-नए लेखों और कहानियों का।
        * हिंदुस्तान ई-पेपर के साथ रहें अपडेट, और पाएँ अपनी पसंदीदा पत्रिकाओं तक पहुँच कभी भी, कहीं भी।
        
         **दिल्ली-एनसीआर में हिंदुस्तान ई-पेपर**
        
        * दिल्ली-एनसीआर में नवीनतम समाचारों और वर्तमान घटनाओं के बारे में अपडेट रहें।
        * दिल्ली-एनसीआर में राजनीति, अर्थव्यवस्था, संस्कृति और खेल जगत की गहन कवरेज का आनंद लें।
        * दिल्ली-एनसीआर के स्थानीय समाचारों और मुद्दों के बारे में जानें।
        * दिल्ली-एनसीआर के व्यावसायिक और वित्तीय विकास के बारे में जानकारी प्राप्त करें।
        * दिल्ली-एनसीआर में जीवनशैली, फैशन और मनोरंजन से जुड़ी खबरों के साथ जुड़े रहें।
        
        **उत्तर प्रदेश में हिंदुस्तान ई-पेपर**
        
        * उत्तर प्रदेश में नवीनतम समाचारों और वर्तमान घटनाओं के बारे में अपडेट रहें।
        * उत्तर प्रदेश में राजनीति, अर्थव्यवस्था, संस्कृति और खेल जगत की गहन कवरेज का आनंद लें।
        * उत्तर प्रदेश के स्थानीय समाचारों और मुद्दों के बारे में जानें।
        * उत्तर प्रदेश के व्यावसायिक और वित्तीय विकास के बारे में जानकारी प्राप्त करें।
        * उत्तर प्रदेश में जीवनशैली, फैशन और मनोरंजन से जुड़ी खबरों के साथ जुड़े रहें।
        
        **बिहार में हिंदुस्तान ई-पेपर**
        
        * बिहार में नवीनतम समाचारों और वर्तमान घटनाओं के बारे में अपडेट रहें।
        * बिहार में राजनीति, अर्थव्यवस्था, संस्कृति और खेल जगत की गहन कवरेज का आनंद लें।
        * बिहार के स्थानीय समाचारों और मुद्दों के बारे में जानें।
        * बिहार के व्यावसायिक और वित्तीय विकास के बारे में जानकारी प्राप्त करें।
        * बिहार में जीवनशैली, फैशन और मनोरंजन से जुड़ी खबरों के साथ जुड़े रहें।
        
        **झारखंड में हिंदुस्तान ई-पेपर**
        
        * झारखंड में नवीनतम समाचारों और वर्तमान घटनाओं के बारे में अपडेट रहें।
        * झारखंड में राजनीति, अर्थव्यवस्था, संस्कृति और खेल जगत की गहन कवरेज का आनंद लें।
        * झारखंड के स्थानीय समाचारों और मुद्दों के बारे में जानें।
        * झारखंड के व्यावसायिक और वित्तीय विकास के बारे में जानकारी प्राप्त करें।
        * झारखंड में जीवनशैली, फैशन और मनोरंजन से जुड़ी खबरों के साथ जुड़े रहें।
        
        **उत्तराखंड में हिंदुस्तान ई-पेपर**
        
        * उत्तराखंड में नवीनतम समाचारों और वर्तमान घटनाओं के बारे में अपडेट रहें।
        * उत्तराखंड में राजनीति, अर्थव्यवस्था, संस्कृति और खेल जगत की गहन कवरेज का आनंद लें।
        * उत्तराखंड के स्थानीय समाचारों और मुद्दों के बारे में जानें।
        * उत्तराखंड के व्यावसायिक और वित्तीय विकास के बारे में जानकारी प्राप्त करें।
        * उत्तराखंड में जीवनशैली, फैशन और मनोरंजन से जुड़ी खबरों के साथ जुड़े रहें।
        
        **पत्रिकाएँ**
        
        * परिशिष्ट और अनोखी पत्रिकाओं के साथ हिंदुस्तान ई-पेपर के साथ जुड़ें, और अपनी पसंदीदा पत्रिकाओं को ऑनलाइन पढ़ें।
        * हिंदुस्तान ई-पेपर के साथ पाएँ परिशिष्ट और अनोखी पत्रिकाओं का डिजिटल संस्करण, और आनंद लें नए-नए लेखों और कहानियों का।
        * हिंदुस्तान ई-पेपर के साथ रहें अपडेट, और पाएँ अपनी पसंदीदा पत्रिकाओं तक पहुँच कभी भी, कहीं भी।
    </div>

    {{ template "global/footer" .}}
    {{ template "global/js" .}}
</body>